.blocks {
	margin-top: 125px;
	width: 100%;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.blocks .container {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	justify-content: space-between;
}

.block-sub {
	position: relative;
}

.block {
	width: 330px;
	height: 400px;
	background-color: #FFF;
	background-repeat: no-repeat;
	-webkit-background-size: 200px;
	background-size: 200px;
	border: 1px solid #D8E0F4;
	transition: .3s;
	position: relative;
	z-index: 2;
}

.block:hover {
	transform: scale(1.1);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.top-decor,
.bot-decor {
	position: absolute;
	z-index: 1;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 30px;
	height: 35px;
}

.top-decor {
	top: -7px;
	left: -7px;
}

.bot-decor {
	bottom: -7px;
	right: -7px;
}

.block-sub1>.top-decor,
.block-sub3>.top-decor {
	background-image: url("../img/yellow-top.png");
}

.block-sub1>.bot-decor,
.block-sub3>.bot-decor {
	background-image: url("../img/blue-bottom.png");
}

.block-sub2>.top-decor {
	background-image: url("../img/blue-top.png");
}

.block-sub2>.bot-decor {
	background-image: url("../img/yellow-bottom.png");
}

.block>p {
	font-size: 20px;
	line-height: 29px;
	text-align: center;
	padding: 40px 20px 0 20px;
}

.block1 {
	background-image: url("../img/block1.png");
	background-position: center 180px;
}

.block2 {
	background-image: url("../img/block2.png");
	background-position: center 170px;
}

.block3 {
	background-image: url("../img/block3.png");
	background-position: center 190px;
}

@media screen and (max-width: 1200px) {
	.block {
		width: 270px;
	}

	.block>p {
		padding: 20px 10px 0 10px;
	}
}

@media screen and (max-width: 992px) {
	.block {
		width: 330px;
	}

	.block>p {
		padding: 40px 20px 0 20px;
	}

	.blocks .container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.space {
		height: 30px;
	}
}

@media screen and (max-width: 400px) {
	.block {
		width: 270px;
	}
}