@font-face{

font-family: 'Gotham pro';

src: url('../fonts/gotham-pro_bold.ttf');
font-weight: bold;
font-style: normal;
}

@font-face{

font-family: 'Gotham pro';

src: url('../fonts/gotham-pro_lightitalic.ttf');
font-weight: lighter;
font-style: italic;
}

@font-face{

font-family: 'Gotham pro';

src: url('../fonts/gotham-pro_regular.ttf');
font-weight: normal;
font-style: normal;
}

@font-face{

font-family: 'Ubuntu';

src: url('../fonts/ubuntu.ttf');
font-weight: normal;
font-style: normal;
}