.hero {
	width: 100%;
	height: 560px;
	background-image: url("../img/hero.png");
	background-color: #000;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	-ms-background-position-x: center;
	background-position-x: center;
	position: relative;
}

.hero-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to right, rgba(0,0,0,1) 30%, rgba(0,0,0,0.7));
}

.hero-info {
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
}

.hero-info__text {
	width: 300px;
	color: #FFF;
	margin-bottom: 40px;
	position: relative;
}

.hero-info__text h1 {
	font-family: Gotham Pro;
	font-size: 30px;
	line-height: 39px;
	font-weight: lighter;
}

.hero-info__button {
	display: inline-block;
	position: relative;
	width: 300px;
	height: 70px;
}

.button-f_hero {
	height: 70px;
	line-height: 70px;
	font-size: 24px;
	letter-spacing: 3px;
}

@media screen and (min-width: 2000px) {
	.hero {
		height: 800px;
	}
}

@media screen and (max-width: 768px) {
	.hero-info {
		width: 100%;
		background: none;
		background-color: rgba(0,0,0,0.7);
	}

	.hero-bg {
		display: none;
	}

	.hero-info {
		-ms-align-items: center;
		align-items: center;
	}

	.hero {
		-ms-background-position-x: -550px;
		background-position-x: -550px;
	}
}

@media screen and (max-width: 540px) {
	.hero {
		-ms-background-position-x: -740px;
		background-position-x: -740px;
	}

}