.popup_bg{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, .5);
}

.div_popup {
    position: fixed;
    top: calc(50% - 255px);
    left: calc(50% - 200px);
    z-index: 2000;
    width: 400px;
    height: 510px;
    display: none;
    background-color: #fff;
    border-radius: 24px;
}

.div_popup2 {
    position: fixed;
    top: calc(50% - 215px);
    left: calc(50% - 200px);
    z-index: 2000;
    width: 400px;
    height: 430px;
    display: none;
    background-color: #fff;
    border-radius: 24px;
}

.popup__form {
    padding: 54px 35px 20px 35px;
    position: relative;
}

.popup__form h3 {
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
}

.popup__form p {
    font-size: 19px;
    line-height: 23px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 16px;
}

.popup__form input,
.popup__form button {
    width: 330px;
    height: 64px;
    border: none;
}

.popup__form input {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 29px;
    padding-left: 24px;
    border: 2px solid #D8E0F4;
}

.popup__form input::placeholder {
    color: #D8E0F4;
}

.popup__button {
    position: relative;
    margin: 0 auto;
    width: 330px;
}

.button-f_popup {
    font-size: 24px;
    letter-spacing: 3px;
}

.button-f_popup:hover {
    cursor: pointer;
}

.popup-close {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 35px;
    top: 20px;
}

.button-f_close {
    width: 26px;
    height: 26px;
    padding: 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/popup-close.png");
}

.popup-close .button-border {
    border-color: #D8E0F4;
}

@media screen and (max-width: 450px) {
    .div_popup {
        position: fixed;
        top: calc(50% - 225px);
        left: calc(50% - 160px);
        z-index: 2000;
        width: 320px;
        height: 450px;
        display: none;
        background-color: #fff;
        border-radius: 24px;
    }

    .div_popup2 {
        position: fixed;
        top: calc(50% - 190px);
        left: calc(50% - 160px);
        z-index: 2000;
        width: 320px;
        height: 380px;
        display: none;
        background-color: #fff;
        border-radius: 24px;
    }

    .popup__form h3 {
        font-weight: normal;
        font-size: 32px;
        line-height: normal; 
    }

    .popup__form p {
        font-size: 16px;
        line-height: normal;
    }

    .popup__form input,
    .popup__form button {
        width: 250px;
        height: 55px;
    }

    .popup__form {
        padding: 54px 35px 10px 35px;
    }

    .popup__button {
        width: 250px;
    }
}